<a href={% url 'day-list' %}>back</a>
<hr>
<a href={% url 'meal-create' daypk=object.pk %}>+ Add meal</a>
<a href={% url 'day-edit' pk=object.pk %}>! Edit</a>
<hr>
{{ object }}

<hr>
{% for meal in object.meals.all %}
    {{ meal }}
    <hr>
{% endfor %}
