<a href={% url 'day-list' %}>back</a>
<form method="POST" >
    {% csrf_token %}
    {% for field in form %}
    {{ field.errors }}{{ field.name }}{{ field }}
        <hr>
    {% endfor %}
    <button type="submit">Create</button>
</form>
