<a href={% url 'day-detail' pk=view.kwargs.daypk %}>back</a>
<form method="POST" >
    {% csrf_token %}
    {{ form.name.errors }}
    {{ form.name.label_tag }}
    {{ form.name }}
    <hr>
    {{ form.ingredients.errors }}
    {{ form.ingredients.label_tag }}
    {{ form.ingredients }}
    <a href="{% url 'qing-create' %}" target="new" >+ Add ingredients </a>
    <hr>
    {{ form.recipy.errors }}
    {{ form.recipy.label_tag }}
    {{ form.recipy }}
    <hr>
    <button type="submit">Create</button>
</form>
