<a href={% url 'shopping-cycle-list' %}>back</a>
<hr>
{{ object }}
<hr>
<table>
{% for category_name, category_items in object.get_shopping_list.groupped_by_category.items %}
    <tr>
        <td colspan=3>
            {{ category_name }}
        </td>
    </tr>
    {% for ingredient, unit, quantity in category_items %}
        <tr>
            <td>{{ quantity }}</td>
            <td>{{ unit }}</td>
            <td>{{ ingredient }}</td>
        </tr>
    {% endfor %}
{% endfor %}
</table>
<hr>
